<!-- Update module modal -->
<div id="modal-module-update" class="modal">
    <form method="post" action="/module/update" id="module-update">

        <input type="hidden" name="machine_name" value="">

        <div class="modal-content">
            <h4>Install module</h4>
            <div class="row">
                <div class="col s12">Update module: <span class="module-name"></span></div>
            </div>
            <div class="row">
                <div class="input-field col s4 offset-s8">
                    <a class="modal-action modal-close btn-flat">Cancel</a>
                    <button class="btn add" type="submit">Update</button>
                </div>
            </div>
        </div>

    </form>
</div>
