<!-- Uninstall module modal -->
<div id="modal-repository-remove" class="modal">
    <form method="post" action="/repository/remove" id="repository-remove">

        <input type="hidden" name="repository_key" value="">

        <div class="modal-content">
            <h4>Remove repository</h4>
            <div class="row">
                <div class="col s12">Remove repository: <span class="repository-key"></span></div>
            </div>
            <div class="row">
                <div class="input-field col s4 offset-s8">
                    <a class="modal-action modal-close btn-flat">Cancel</a>
                    <button class="btn add" type="submit">Remove</button>
                </div>
            </div>
        </div>

    </form>
</div>
