// Colours.
$logo-dark-blue: #143F6E;
$logo-light-blue: #66B6DF;

// Blue and Orange
//$aos-b-n-o-orange: #FF6B35;
//$aos-peach: #F7C59F;
$aos-cream: #EFEFD0;
//$aos-b-n-o-dark-blue: #004E89;
//$aos-b-n-o-light-blue: #1A659E;

// Blue and Silver
$aos-blue-black: #1F271B;
$aos-dark-blue: #0B4F6C;
$aos-light-blue: #145C9E;
$aos-dark-silver: #CBB9A8;
$aos-light-silver: #DCC7BE;

//// Blue and Olive Green
//$aos-b-n-g-blue-black: #0A122A;
$aos-olive-green: #698F3F;
//$aos-b-n-g-cream: #FBFAF8;
$aos-light-brown: #E7DECD;
//$aos-b-n-g-dark-brown: #804E49;
//
//// Blue and Olive Green
$aos-red: #C33C54;
//$aos-b-n-g-dark-blue: #254E70;
//$aos-b-n-g-mid-blue: #37718E;
//$aos-b-n-g-light-blue: #8EE3EF;
//$aos-b-n-g-pale-blue: #AEF3E7;
