// Logo colours.
$logo-dark-blue: #143F6E;
$logo-light-blue: #66B6DF;

// Colour palette.
$aos-cream: #EFEFD0;
$aos-blue-black: #1F271B;
$aos-dark-blue: #0B4F6C;
$aos-light-blue: #145C9E;
$aos-dark-silver: #CBB9A8;
$aos-light-silver: #DCC7BE;
$aos-light-brown: #E7DECD;
$aos-olive-green: #698F3F;
$aos-red: #C33C54;
