 <footer class="page-footer z-depth-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>ApiOpenStudio</h5>
        <p>It's open source!</p>
        <p>Build Api's faster and at less cost.</p>
        <p>&copy; Copyright 2018 by <a href="https://www.apiopenstudio.com/" target="_blank">ApiOpenStudio</a></p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5>Links</h5>
        <ul>
          <li><a href="https://wiki.apiopenstudio.com" target="_blank">Wiki</a></li>
          <li><a href="https://phpdoc.apiopenstudio.com" target="_blank">PHPDoc</a></li>
          <li><a href="https://www.apiopenstudio.com/privacy" target="_blank">Privacy</a></li>
          <li><a href="https://wiki.apiopenstudio.com/license.html" target="_blank">License</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
